# Python
__pycache__/
*.pyc
.venv/
.env
storage/
env-vars.json
.vscode

# Node
node_modules/
dist/
*.log

# Mac
.DS_Store

# Cloud + Deployment
env-vars.json
# Prevent pushing GCP or Firebase config files
service-account.json
firebase-service-account.json
*.key.json
*.pem

# Local Google auth token caches
.gcloud/
.gcp/
.gcloudignore
gcloud.log

# Firebase cache & credentials
.firebase/
.firebaserc   
firebase-debug.log*
firebase-debug.*.log*

# Claude Code
.claude/
CLAUDE.md
.docs
superpowers/

# Build artifacts
build/
coverage/